.lista-suspensa{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: 24px 0;
}

.lista-suspensa label{
    font-size: 18px;
    font-weight: 600;
}

.lista-suspensa select{
    padding: 30px  21px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
}